<nav class="red accent-3" role="navigation">
    <div class="nav-wrapper">
	 <a href="/" class="brand-logo left"></a>
      <ul class="right hide-on-med-and-down">
	  <li><a href="https://www.facebook.com/taktikaiszavazas.hu"><i class="fa fa-facebook-official" style="font-size:24px;"></i></a></li>
	   <li><a href="/"><i class="material-icons">home</i></a></li>
	   <li><a href="../modszertan">Előrejelzés módszertana</a></li>
	   <li><a href="../2019-onkormanyzati">2019-es önkormányzati választás</a></li>
	   <li><a href="../rolam">Rólam</a></li>
	   <li><a href="https://tacticalvoting.eu">EN</a></li>
      </ul>
	  
      <ul id="nav-mobile" class="side-nav">
	  <li><a href="https://www.facebook.com/taktikaiszavazas.hu"><i class="fa fa-facebook-official" style="font-size:24px;"></i>Facebook</a></li>
	   <li><a href="/"><i class="material-icons">home</i>Főoldal</a></li>
	   <li><a href="../2019-onkormanyzati">2019-es önkormányzati választás</a></li>
	   <li><a href="../modszertan">Előrejelzés módszertana</a></li>
	   <li><a href="../rolam">Rólam</a></li>
	   <li><a href="https://tacticalvoting.eu">EN</a></li>
      </ul>     

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>