---
layout: default
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-45281172-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-45281172-4');
</script>
  <div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <div class="row">
<div class="col l3">
  <a href="../"><img src="images/2019_logo_2_200x200.png"></a>
  <a href="../"><h5><span style="color: black;">tacticalvoting.eu</span></h5></a>
</div>

<div class="col l7 offset-l1 center">
  <h3 class="header center">Election 2026</h3>
  <h5 class="header center">12th April 2026</h5>

  <!-- COUNTDOWN -->
  <h5 id="valasztas-countdown" class="header center"></h5>
</div>

<script>
  (function () {
    const targetDate = new Date("2026-04-12T01:00:00");
    const now = new Date();
    let diff = targetDate - now;

    const countdownEl = document.getElementById("valasztas-countdown");

    if (diff <= 0) {
      countdownEl.textContent = "A választás napja elérkezett.";
      return;
    }

    const minutesTotal = Math.floor(diff / (1000 * 60));
    const days = Math.floor(minutesTotal / (60 * 24));
    const hours = Math.floor((minutesTotal - days * 24 * 60) / 60);
    const minutes = minutesTotal % 60;

    countdownEl.textContent =
      days + " days " +
      hours + " hours " +
      minutes + " minutes"
	  +  " to go";
  })();
</script>
      </div>
	  </div>

	  
  <div class="container">
	  
	
      <div class="row">
<div class="col s12 l6">
<iframe title="Constituency estimates" aria-label="Choropleth map" id="datawrapper-chart-kQVC8" src="https://datawrapper.dwcdn.net/kQVC8/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="562" data-external="1"></iframe><script type="text/javascript">window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r,i=0;r=e[i];i++)if(r.contentWindow===a.source){var d=a.data["datawrapper-height"][t]+"px";r.style.height=d}}});</script>

</div>
<br/>
<br/>
<div class="col s12 l6">
<iframe title="Expected seats after the election" aria-label="Election donut chart" id="datawrapper-chart-2DQmE" src="https://datawrapper.dwcdn.net/2DQmE/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="396" data-external="1"></iframe><script type="text/javascript">window.addEventListener("message",function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r,i=0;r=e[i];i++)if(r.contentWindow===a.source){var d=a.data["datawrapper-height"][t]+"px";r.style.height=d}}});</script>
</div>
<br/>
<br/>
        <div class="col l8 offset-l2 card light-green lighten-4">
        
<div class="card-content">
          <span class="card-title">The goal of this site</span>
          <p>This site provides predictions for the upcoming 2026 Hungarian elections.</p>
		  <br/>
		  <p>See the <a href="../modszertan">Prediction methodology</a> tab for more information.</p>
		  <br/>

		  
        </div>     
        </div>
		<br/>
        <br/>


  
</div>
<div class="container">
		<div class="col s10">

</div>
		
 </div>
    </div>
	</div>
	</div>
     
