---
layout: default
---
  <div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <div class="row">
<div class="col l3"><a href="../"><img src="images/2019_logo_2_200x200.png"></a>
<a href="../"><h5><span style="color: black;">taktikaiszavazas.hu</span></a></h5>
</div>
<div class="col l7 offset-l1 center">
      <h3 class="header center">Választás 2024</h3>
	 <h5 class="header center">2024. június 9.</h5>
    </div>
     
      </div>
	  </div>

	  
  <div class="container">
	  
	
      <div class="row">
<div class="col l6">
<h4>EP mandátumok becsült aránya</h4>
<iframe title="Becsült EP mandátumok száma" aria-label="Multiple Donuts" id="datawrapper-chart-yiaWi" src="https://datawrapper.dwcdn.net/yiaWi/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="320" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();</script>
</div>

        <div class="col l5 offset-l1 card light-green lighten-4">
        
<div class="card-content">
          <span class="card-title">Mi az oldal célja?</span>
          <p>Az oldal a 2024-es önkormányzati- és EP választásokhoz ad iránymutatást a választóknak arról, hogy hány EP mandátumot és önkormányzati helyet nyerhet egy-egy párt vagy pártszövetség.</p>
		  <br/>
		  <p>Az előrejelzés működéséről az <a href="../modszertan">Előrejelzés módszertana</a> fül tartalmaz további információkat (ez az információ jelenleg fejlesztés alatt áll).</p>
		  <br/>

		  
        </div>     
        </div>
		<br/>
        <br/>


  
</div>
		<div class="col s12">
<h4>Önkormányzati választások - Budapest</h4>
<iframe title="2019-es önkormányzati eredmények Budapesten" aria-label="Range Plot" id="datawrapper-chart-zS6Ub" src="https://datawrapper.dwcdn.net/zS6Ub/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="686" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();</script>
</div>
		<div class="col s12">
<h4>Önkormányzati választások - Megyei jogú városok</h4>
<iframe title="Megyei jogú városok polgármesteri eredménye (Fidesz és ellenzéki jelölt szavazataránya)" aria-label="Range Plot" id="datawrapper-chart-3pSQf" src="https://datawrapper.dwcdn.net/3pSQf/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="609" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();</script>

</div>
		
 </div>
    </div>
	</div>
	</div>
     


  