---
layout: default
---
  <div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <div class="row">
<div class="col l3"><a href="../"><img src="images/2019_logo_2_200x200.png"></a>
<a href="../"><h5><span style="color: black;">taktikaiszavazas.hu</span></a></h5>
</div>
<div class="col l7 offset-l1 center">
      <h3 class="header center">Választás 2022</h3>
	 <h5 class="header center">Győzzük le a Fideszt!</h5>
    </div>
     
      </div>
	  </div>

	  
  <div class="container">
	  
	
      <div class="row">
<div class="col l4">
<h4>Ki nyerne most vasárnap?</h4>
<iframe title="Becsült mandátumok száma" aria-label="Election Donut" id="datawrapper-chart-JJ3TV" src="https://datawrapper.dwcdn.net/JJ3TV/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="566"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();</script></div>
        <div class="col l7 offset-l1 center card light-green lighten-4">
        
<div class="card-content">
          <span class="card-title">Mi az oldal célja?</span>
          <p>Ez az oldal a 2022-es országgyűlési választásokhoz ad iránymutatást a választóknak arról, hogy <a href="../valasztas2022">az egyes választókerületekben kik lesznek a Fidesz kihívói.</a></p>
		  <br/>
		  <p>Az oldal előrejelzést is ad arról, hogy a jelenlegi közvélemény-kutatási adatok alapján melyik oldal hány mandátumra számíthat a választáson, és hogy <a href="../valasztas2022">melyik választókerületben vezet a Fidesz vagy az ellenzéki közös jelölt</a>. Az előrejelzés működéséről az <a href="../modszertan">Előrejelzés módszertana</a> fül tartalmaz további információkat.</p>
		  <br/>
		  <p>Az elmúlt két országgyűlési választás összefoglaló adatai a <a href="../korabbi-valasztasok">2014-2018-as adatok</a> fülön elérhetők.</p>
		  <br/>
           
        </div>     
        </div>
		<div class="col s12">
<h5>Egyéni választókerületek becsült eredménye (2021 november 8.)</h5>
  <iframe title="A választókerületek jelenleg becsült megoszlása" aria-label="Map" id="datawrapper-chart-N9sdI" src="https://datawrapper.dwcdn.net/N9sdI/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="512"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();</script>
    </div>
	</div>
	</div>
     


  